@import "utils";
@import "fonts";
@import "typography";

body {
  margin: 0;
  padding: 0;
}

.gallery {
  display: block;
  width: 60vw;
  margin: 0 auto;
}

.gallery div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  border: 1px solid black;
}

.gallery__large-img {
  width: 99%;
  height: 98%;
}

.gallery__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.list-item {
  width: 19%;
}

.list-item__link {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 100%;
}

.list-item__link:hover {
  box-shadow: 0 0 10px rgb(0,0,0);
  cursor: pointer;
}

.gallery__thumb {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}

ul {
  padding: 0;
}
